* {
  margin: 0;
  padding: 0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modalWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
  width: 600px;
  height: 250px;
  background-color: #fff;
  border-radius: 7px;
}

.modalWrapper h2 {
  color: #000000;
}

.modalWrapper p {
  justify-self: center;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #505168;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 14px;
  border: 0;
  background-color: white;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
}

.cancelBtn {
  width: 110px;
  height: 50px;
  margin: 0 20px;
  padding: 10px 24px;
  background: #fff;
  border: 1px solid #505168;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #505168;
  cursor: pointer;
}

.confirmBtn {
  width: 110px;
  height: 50px;
  margin: 0 20px;
  padding: 10px 24px;
  background: #aace9b;
  border: 1px solid #505168;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #505168;
  cursor: pointer;
}
