.btn {
  width: 25vh;
  height: 8vh;
  color: whitesmoke;
  background-color: rgb(75, 48, 133);
  font-size: 1.25em;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  box-shadow: rgb(229, 226, 229) 0px 1px 3px;
  border-radius: 3px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(102, 57, 165);
  box-shadow: rgb(229, 226, 229) 0px 1px 5px;
  transition: all 75ms ease-in-out;
}

