.sellContainer {
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sellOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 25px;
}
.btn {
  width: 20vh;
  height: 7vh;
  color: rgb(33, 33, 33);
  background-color: #774360;
  font-size: 1.2em;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  box-shadow: rgb(229, 226, 229) 0px 1px 3px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #d8d6dd;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #945277;
  box-shadow: rgb(229, 226, 229) 0px 1px 5px;
  transition: all 75ms ease-in-out;
}
