.login {
  font-family: "Kdam Thmor Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 60vh;
  background-color: #212223;
  color: #f5e7d4;
}

input[type="text"],
input[type="password"] {
  height: 5vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 5vh;
  cursor: pointer;
  font-size: 18px;
  background: rgb(93, 105, 71);
  border: 1px solid #000000;
  color: #f5e7d4;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background:rgb(122, 148, 73);
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color:   #3c1c78;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: rgba(211, 101, 101, 0.911);
  font-family: sans-serif;
  font-size: 13px;
}

.title {
  font-size: 28px;
  margin-bottom: 25px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
