

.sellTable {
  color: #d8d6dd;
  width: 800px;
  border-collapse: collapse;
  margin-top: 40px;
}


tr:nth-of-type(odd) {
  background: rgb(68, 68, 68);
  border: 1px solid rgb(154, 151, 151);
  
}
tr:nth-of-type(even) {
  border: 1px solid rgb(154, 151, 151);
  
}
th {
  background-color: #2d1659c4;
  color: #d8d6dd;
  
}

td,
th {
  padding: 10px;
  border: 1px solid rgb(154, 151, 151);
  text-align: left;
  font-size: 1em;
}

tr[row="2"] {
  border-bottom: 10px double #000;
 
}
.quantityInput {
  background: rgb(46, 46, 46);
  border: none;
  width: 50px;
  height: 40px;
  margin: 10px;
  font-size: 1em;
  color: #d8d6dd;
  text-align: center;
  border-radius: 3px;
}
.quantityInput:focus {
  outline: none !important;
  border: 2px solid #784fc3;
  box-shadow: rgb(226, 219, 226) 0px 1px 4px;
}


@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }


  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }


  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
   
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}
