.customSelect {
  position: relative;
  display: inline-block;
  max-width: 600px;
  min-width: 180px;
  margin: auto;
  margin-right: 25px;
  border: 1px solid #6d3ec3;
  background-color: #2d1659c4;
  z-index: 10;
}
.label {
  color: #d8d6dd;
}


select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 300px;
  padding: 12px 55px 15px 15px;
  font-size: 1.25em;
  color: #d8d6dd;
  box-shadow: rgb(226, 219, 226) 0px 1px 5px;
}

.customSelect::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 100px;
  content: "\2228";
  color: #714bb9;
  font-size: 24px;
  border-left: 1px solid #3c1c78;
  z-index: -1;
}

option {
  /* Whatever color  you want */
  background-color: #91969a;
  color: #212223;
}

select:hover {
  cursor: pointer;
  background-color: #4b2495c4;
}
