@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Teko", sans-serif;
}

body {
  margin: 0;
  background-color: #181d31;
}
